body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #f56262;
    padding: 8px;
    border-radius: 0;
    text-align: center;
    color: #FFFFFF;
    font-size: 24px;
}

.picker-container {
    margin: 20px;
}

.picker {
    background-color: #EEEEEE;
    color: black;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
}

.item {
    background-color: #EEEEEE;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.item img {
    height: 50px;
    width: 50px;
    float: left;
}

.item-info {
    margin-left: 60px;
}

.item-info h2 {
    font-weight: bold;
    font-size: 18px;
    color: black;
}

.timer-container {
    background-color: #DDDDDD;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    bottom: 0;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer label {
    font-size: large;
    color: black;
    margin-right: 10px;
    width: 100px;
}

.timer button {
    background-color: Green;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.timer button.stop {
    background-color: Red;
    display: none;

    align-items: center;
    justify-content: center;
}

.timer button.reset {
    background-color: DarkGray;

    display: flex;
    align-items: center;
    justify-content: center;
}

.trainingContainer {
    background-color: #EEEEEE;
    margin-bottom: 20px;
    padding: 10px;

    display: flex;
    justify-content: left;
    /* align-items: center; */
    /* height: 100vh; */
    border-radius: 15px;
}

.trainingName {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.trainingDescription {
    color: #6b6b6b;
}

.trainingIcon {
    margin-right: 10px;
    width: 64px;
}

.trainingIcon img {
    width: 50px;
    /* Задайте нужную ширину и высоту для иконки */
}

.left {
    /* width: 50%; */
    height: 100%;
    /* background-color: lightblue; */
    display: flex;
    flex-direction: column;
    /* Добавлено: разделение по вертикали */
}

.left-top,
.left-bottom {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    /* width:z 50%; */
    height: 100%;
    display: flex;
    flex-direction: column;
}

.top-right {
    flex: 1;
    /* background-color: lightgreen; */
}

.bottom-right {
    flex: 1;
    /* background-color: lightcoral; */
}

.appTop {
    position: fixed;
    top: 0;
}